*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #252525;
}

.logo {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 15vw;
}

.nav-items {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 10px #000;
    font-size: 3vh;
}

.nav-items a:hover{
    color: rgb(172, 170, 170);
    font-weight: bold;
}

.active{
   color: gray !important;
    font-weight: bold;
}

.info{
    width: 150px;
    height: 100px;
    padding: 5px;
    background: gray;
    color: #fff;
    position: absolute;
    top: 140px;
    left: 90px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left{
    width: 30%;
    border: 2px solid greenyellow;
    margin-top: 110px;
    margin-left: 170px;
    height: 250px;
    border-radius: 5px;
}
.about{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.left img{
    width: 35vw;
    position: absolute;
    top: 150px;
    left: 100px;
}

.right{
    width: 50%;
    padding: 20px;
}

.right h1{
    width: 60%;
}

.right p{
    padding-bottom: 10px;
    font-size: 16px;
    color: gray;
}

.right button{
    background: greenyellow;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

footer {
    border-top: 1px solid;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #fff;
    position: relative;
    width: 100vw;
}

footer h4 {
    color: #252525;
    margin-bottom: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 2px solid;
    padding: 20px;
    margin-bottom: 20px;
}

footer .links a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(190, 190, 190);
    font-weight: bold;
    transition: all 400ms;
}

footer .links a:hover {
    font-size: 16px;
    color: #000;
}

.social {
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
}

.social i {
    font-size: 20px;
    margin-right: 10px;
    transition: all 300ms;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: gray;
}

.social i:hover {
    scale: 1.1;
    cursor: pointer;
    background: black;
    color: white;
}

footer p {
    position: absolute;
    bottom: 0;
    background-color: gray;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}




